daily-task-insert-edit {
    .daily-task-page {
        padding: 16px;
        background-color: white;
    }

    .input {
        border: 1px solid #cecece;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        max-width: 100%;
        outline: none;
        font-size: 16px;
    }

    .input-checkbox {
        height: 20px;
        width: 20px;
        margin-left: 16px;
    }

    .task-item {
        display: flex;
        align-items: center;
    }

    .btn-delete-background {
        margin-right: 8px;
    }

    .done-background {
        text-align: center;
    }

    .done-label {
        margin-left: 15px;
    }

    .input:focus {
        border: 1px solid black;
    }

    .input::placeholder {
        font-size: 16px;
    }

    .textarea {
        resize: none;
        height: 150px;
    }

    .img-delete-task {
        width: 16px;
    }

    .btn-delete-task:hover {
        transform: scale(1.1);
    }

    .btn-delete-task {
        cursor: pointer;
        transition: 0.3s;
        border: none;
        background-color: transparent;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .btn-confirm {
        height: 40px;
        width: 100%;
        background-color: #fff275;
        border: 1px solid #cecece;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Roboto Condensed";
        cursor: pointer;
        transition: .3s;
    }

    .btn-confirm:hover {
        background-color: #d4c961;
    }

    .btn-background {
        margin-top: 16px;
    }

    .daily-task-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .img-cancel {
        width: 16px;
    }

    .img-cancel-background {
        margin-top: 3px;
        cursor: pointer;
    }

    .task-header {
        padding: 12px 16px 12px 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #cecece;
        background-color: #fff275;
    }

    .task-header-title {
        font-size: 24px;
        margin-left: 16px;
    }

    @media (max-width: 605px) {
        .daily-task-form {
            flex-direction: column;
        }

        .calendar-component {
            text-align: center;
        }
    }
}
