calendar-component {
	.calendar {
		display: inline-block;
		background-color: white;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 98988;
		border-radius: 5px;
		width: calc(100% - 32px);
	}

	.calendar-title {
		font-size: 23px;
	}

	.selecionar-data-title {
		margin-bottom: 24px;
	}

	.selecionar-data {
		font-size: 14px;
		text-transform: uppercase;
	}

	.edit-date {
		width: 18px;
	}

	.title-background {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.btns-calendar {
		padding-bottom: 4px;
		padding-right: 16px;
		text-align: end;
	}

	.calendar-header {
		background-color: #fcd734;
		border-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding: 16px;
	}

	.calendar-backdrop {
		background-color: black;
		opacity: 0.3;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 7778;
		height: 100vh;
		width: 100vw;
	}

	.selected-day {
		background-color: #fcd734 !important;
		border-radius: 100%;
		text-align: center;
	}

	.current-day {
		border-radius: 100%;
		border: 1px solid black !important;
		text-align: center;
	}

	.calendar-days {
		margin-bottom: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 6px;
		padding-right: 6px;
	}

	.calendar-days span {
		font-size: 15px;
		padding: 8px;
	}

	.calendar-days-week {
		display: flex;
		flex-direction: column;
	}

	.day {
		cursor: pointer;
		margin-bottom: 12px;
		width: 35px;
		display: flex;
		height: 35px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
	}

	.day-hidden {
		visibility: hidden;
	}

	.calendar-days-weeks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.img-arrow {
		cursor: pointer;
		height: 12px;
	}

	.img-select {
		height: 12px;
	}

	.month-name {
		font-size: 16px;
		font-weight: bold;
		margin-right: 12px;
	}

	.year-selector {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.months {
		padding: 12px 8px 0 8px;
	}

	.edit-date-background {
		cursor: pointer;
		margin-top: 4px;
	}

	.months-changeable {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		margin-top: 4px;
	}

	.input-background {
		padding: 16px;
		width: calc(100% - 32px);
	}

	.img-arrow-left {
		margin-right: 32px;
	}

	@media (min-width: 760px) {
		.calendar {
			display: flex;
			flex-direction: row;
			max-width: 600px;
		}

		.calendar-body {
			width: 100%;
		}

		.calendar-header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			border-bottom-left-radius: 5px;
			border-top-right-radius: 0;
		}

		.title-background {
			height: 60%;
			flex-direction: column;
			align-items: flex-start;
		}

		.title-input {
			height: 70%;
		}

		.calendar {
			min-height: 175px;
		}

		.body-input {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
