################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DailyTasks.Server/obj
/DailyTasks.Server/bin/Debug/netcoreapp3.1
/DailyTasks.Client/obj
/DailyTasks.Client/node_modules
/DailyTasks.Client/.stencil
/DailyTasks.Client/www
/DailyTasks.Client/bin/Debug/netcoreapp3.1
/DailyTasks.Client/src/env/env.ts
/DailyTasks.Server/wwwroot
