################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DailyTask.Server/bin/Debug/netcoreapp3.1
/DailyTask.Server/obj
/DailyTask.Client/bin/Debug/netcoreapp3.1
/DailyTask.Client/obj
