################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DailyTasks.Server/obj
/DailyTasks.Server/bin/Debug/netcoreapp3.1
