daily-task-list {
    .tasks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
        height: calc(100vh - 113px);
    }

    .dropzone-active {
        background-color: #f3f3f3;
    }

    .task {
        height: 90px;
        min-width: 250px;
        padding: 16px;
        margin-top: 32px;
        position: relative;
        cursor: pointer;
        transition: 0.1s;
    }

    .center-spinner {
        margin-top: 16px;
    }

    .task-createt-at {
        position: absolute;
        bottom: 10px;
    }

    .task-quantity {
        font-size: 14px;
    }

    .task-title {
        font-size: 20px;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task-item-inner-title {
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task-to-do {
        background-color: #d0d0d0;
    }

    .task-to-do:hover {
        background-color: #b4b4b4;
    }

    .task-active {
        background-color: #fff7b3;
    }

    .task-active:hover {
        background-color: #d6d094;
    }

    .task-closed {
        background-color: #6ad8a1;
    }

    .task-closed:hover {
        background-color: #55ad81;
    }

    .title-background {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-more-background {
        padding: 8px;
        position: absolute;
        right: 0;
        border-radius: 100%;
        transition: 0.3s;
    }

    .btn-more-background:hover {
        transform: scale(1.2);
    }

    .check-task-done {
        width: 18px;
    }

    .btn-down-arrow {
        border-radius: 100%;
        position: absolute;
        bottom: -32px;
        right: calc(50% - 16px);
        cursor: pointer;
        z-index: 9;
    }

    .border-to-do {
        border: 1px solid #d0d0d0;
        border-top: none;
    }

    .border-active {
        border: 1px solid #fff7b3;
        border-top: none;
    }

    .border-closed {
        border: 1px solid #6ad8a1;
        border-top: none;
    }

    .img-add-task {
        width: 30px;
    }

    .task-item-inner {
        padding: 8px;
        padding-left: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .task-self {
        height: 100%;
        min-width: 250px;
        transition: 0.3s;
        padding: 16px;
        padding-bottom: 0;
    }

    .img-more {
        width: 16px;
    }

    .fab-task {
        background-color: #c8b900;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        max-width: 25px;
        max-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        position: fixed;
        bottom: 16px;
        right: 16px;
        transition: 0.3s;
        cursor: pointer;
    }

    .fab-task:hover {
        background-color: #dfd367;
    }

    .options-img {
        transition: 0.3s;
        width: 16px;
    }

    .options-btn {
        height: 32px;
        width: 64px;
        border-bottom-left-radius: 128px;
        border-bottom-right-radius: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .btn-options-open {
        transform: rotate(180deg);
    }

    @media (max-width: 890px) {
        .tasks {
            margin-top: 8px;
            flex-direction: column;
        }

        .task-self {
            padding: unset;
            margin-top: 8px;
        }
    }
}
