home-page {
    .home-background {
        height: 100vh;
        width: 100vw;
    }

    .wave-background {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .container-home {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .home-page-animate {
        position: fixed;
        height: 100vh;
        z-index: 1000;
    }

    .animate-right {
        background: linear-gradient(90deg, hsla(152, 100, 50, 1) 0%, hsla(186, 100, 69, 1) 100%);
        animation-name: animate-right;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .animate-left {
        background: linear-gradient(90deg, hsla(152, 100, 50, 1) 0%, hsla(186, 100, 69, 1) 100%);
        animation-name: animate-left;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes animate-right {
        0% {
            left: 0;
            width: 100vw;
        }

        99% {
            width: 100%;
        }

        100% {
            left: 200vh;
            width: 0;
        }
    }

    @keyframes animate-left {
        0% {
            left: 100%;
            width: 100vw;
        }

        99% {
            width: 100%;
        }

        100% {
            left: -200vh;
            width: 0;
        }
    }

    login-page {
        height: 100vh;
        width: 100vw;
    }

    register-page {
        height: 100vh;
        width: 100vw;
    }
}
